body{
  margin: 0; /*margin e padding no 0 tiram a margem branca nas laterais do site*/
  padding: 0;
  transition: all 1s;
  width: 100%;
  height: 100%;
}

nav{
    margin: 0 auto;
    position: absolute; /*fixed trava o menu e desce c a rolagem e absolute deixa travado em cima*/
    top: 15px;
    width: 100%; /* tamanho maximo que ele pode chegar quando vai aumentando a janela */
    min-width: 1200px; /* é o tamanho minimo que vai ficar, aí cria a barra de rolagem, é util pra listas mto grandes */
    
}

nav #MenuGeral{
  max-width: 1480px;
  margin: 0% auto;     /*tira a margem e centraliza ele c o auto */
  background-color: black;
  height: 125px;
}
nav ul li:hover{
  background-color: rgb(107, 107, 107);
}
  
nav ul{  /*PS: a listagem em*/
    display: flex; /*define a lista como flexível*/
    flex-direction: row; /* transforma a lista em horizontal*/
    margin: 0%;
    padding: 0%;
}

nav #logo/*# é pra Id*/ img{
    height: 75px; /*define a altura*/
    margin: 25px ; /*margem pra tds os lados 25px*/
    float: left;/*div posicionada pra esquera c a imagem */
    
}
nav#logo{
  float: left;
}

nav #logo a{/*talvez precise deletar esse daqui*/
  /*float:None; */
  padding: 0;
}
    nav #MainMenu{
        float: right; /*div pra direita com a lista "ul"*/
    }

    
#MenuGeral a { 
    font-size:16px ;
    padding: 53px 25px 53px 0px; /*tem função de dar espaçamento de 53 px pra cima e pra baixo e 35px direita e esquerda*/
    text-decoration: none; /*retira o sublinhado*/
    text-transform: uppercase;/*tranforma a fonte do texto*/
    transition: all 1s;/*transição ao tirar o mouse*/
    color: white; 
    float: left; /*faz reconhecer as limitações da DIV na qual está situado*/
} 

#MainMenu:hover a {
    transition: all 1s; /*transição ao colocar o mouse*/
    color: rgb(231,169,32);
    text-decoration: line-through; /*ao colocar o mouse terá uma linha no meio dele */
}

  nav ul li span{
    float: left;
    font-size: 11px;
    color: #868686;
    margin: 58px 3px 15px 15px;
    
  }
.montserrat, nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header img{
  width: 100%;
  height: 600px;
  object-fit: cover;
}
div .SlideBar{
  visibility: visible;
  background-color:rgb(231,169,32);
  float: left;
}




